<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"file://///tomcat/webapps/phenix_dev/WEB-INF/web-app_2_2.dtd">
<web-app>

<!-- ===============================Configuration========================== -->

  <context-param>
		<param-name>serverName</param-name>
		<param-value>cstrun-1</param-value>
	</context-param>
  <context-param>
		<param-name>hostName</param-name>
		<param-value>10.121.4.21</param-value>
	</context-param>
	<context-param>
		<param-name>codiv</param-name>
		<param-value>MNM</param-value>
	</context-param>
	<context-param>
		<param-name>operatorId</param-name>
		<param-value>TSK</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>TSK</param-value>
	</context-param>
	<context-param>
		<param-name>systemUserName</param-name>
		<param-value>mnm</param-value>
	</context-param>
	<context-param>
		<param-name>systemUserPassword</param-name>
		<param-value>mnm</param-value>
	</context-param>
	<context-param>
		<param-name>systemEnvironment</param-name>
		<param-value>task_dev</param-value>
	</context-param>
	<context-param>
		<param-name>systemPort</param-name>
		<param-value>5433</param-value>
	</context-param>

<!-- =============================== Phenix Schema Info ========================== -->
	<context-param>
    <param-name>OracleClassName</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
	<context-param>
		<param-name>phxOracleConnectionString</param-name>
		<param-value>jdbc:oracle:thin:@10.121.4.21:1521:orcl</param-value>
	</context-param>
	<context-param>
		<param-name>phxOracleUser</param-name>
		<param-value>PMFQRY</param-value>
	</context-param>
	<context-param>
		<param-name>phxOraclePassword</param-name>
		<param-value>PMFQRYCST</param-value>
	</context-param>

<!-- =============================== information used for email ========================== -->
	<context-param>
		<param-name>smtpServer</param-name>
		<param-value>10.121.4.21</param-value>
	</context-param>
	<context-param>
		<param-name>emailFrom</param-name>
		<param-value>clhaight@cedarspringstec.com</param-value>
	</context-param>
	<context-param>
		<param-name>emailTo</param-name>
		<param-value>clhaight@cedarspringstec.com</param-value>
	</context-param>
	<context-param>
		<param-name>emailUnbound</param-name>
		<param-value>clhaight@cedarspringstec.com</param-value>
	</context-param>

<!-- =============================== Information used for Agent Messaging ========================== -->
	<context-param>
		<param-name>uploadPath</param-name>
		<param-value>/admin/uploads</param-value>
	</context-param>
  <context-param>
		<param-name>messageLogPath</param-name>
		<param-value>/admin/logs</param-value>
	</context-param>

<!-- =============================== Information used for Memos ========================== -->
	<context-param>
		<param-name>uploadPathMemos</param-name>
		<param-value>/memos/uploads</param-value>
	</context-param>
  <context-param>
		<param-name>logPathMemos</param-name>
		<param-value>/memos/logs</param-value>
	</context-param>

<!-- =============================== SERVLET INFORMATION ======================================== -->
	<!-- Concerto Servlets -->
	<servlet>
	<servlet-name>concerto</servlet-name>
	<servlet-class>com.xool.servlet.script.ConcertoServlet</servlet-class>
	<init-param>
		<param-name>jdbc_drivers</param-name>
		<param-value>com.jnetdirect.jsql.JSQLDriver</param-value>
		<!-- <param-value>sun.jdbc.odbc.JdbcOdbcDriver,com.jnetdirect.jsql.JSQLDriver</param-value> -->
	</init-param>
	<init-param>
		<param-name>installation_key</param-name>
		<param-value>231A1341A3BF2755321D9075F822</param-value>
	</init-param>
	<init-param>
		<param-name>project_phenix</param-name>
		<param-value>hostName=10.121.4.11;codiv=MNM;operatorId=TSK;password=TSK;systemUserName=raclark;systemUserPassword=cedartec;systemEnvironment=rdata;systemPort=</param-value>
	</init-param>
	<init-param>
		<param-name>script_file_types</param-name>
		<param-value>html,xml,htm,xsp,js</param-value>
	</init-param>
	<init-param>
		<param-name>access_log</param-name>
		<param-value>$ctxtmp/concerto_access.log</param-value>
	</init-param>
	<init-param>
		<param-name>error_log</param-name>
		<param-value>$ctxtmp/concerto_error.log</param-value>
	</init-param>
	<init-param>
		<param-name>load_error_page</param-name>
		<param-value>/xadmin/resources/loaderror.xsp</param-value>
	</init-param>
	<init-param>
		<param-name>run_error_page</param-name>
		<param-value>/xadmin/resources/runerror.xsp</param-value>
	</init-param>
	<init-param>
		<param-name>not_found_error_page</param-name>
		<param-value>/xadmin/resources/notfounderror.xsp</param-value>
	</init-param>
	<init-param>
		<param-name>redirect_error_page</param-name>
		<param-value>/xadmin/resources/redirecterror.xsp</param-value>
	</init-param>
	<init-param>
		<param-name>licence_expired_error_page</param-name>
		<param-value>/xadmin/resources/expired.html</param-value>
	</init-param>
	<init-param>
		<param-name>aborted_process_error_page</param-name>
		<param-value>/xadmin/resources/pageaborted.xsp</param-value>
	</init-param>
	<init-param>
		<param-name>max_page_runtime</param-name>
		<param-value>7200</param-value>
	</init-param>
	<init-param>
		<param-name>enable_service_auditor</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>script_debugger_enabled</param-name>
		<param-value>false</param-value>
	</init-param>
	<init-param>
		<param-name>script_debugger_port</param-name>
		<param-value>8901</param-value>
		<!-- Debug port Changed from 7868 so as to allow two instances running -->
	</init-param>
	<init-param>
		<param-name>script_debugger_log_filename</param-name>
		<param-value>$ctxtmp/script_debugger.log</param-value>
	</init-param>
	<init-param>
		<param-name>script_debugger_hosts_allowed</param-name>
		<param-value>*.*.*.*</param-value>
	</init-param>
	<init-param>
		<param-name>project_xadmin</param-name>
		<param-value>webalias=/concerto</param-value>
	</init-param>
	<init-param>
		<param-name>project_xtutorials</param-name>
		<param-value>
			scriptalias=/concertox;
			webalias=/concerto
		</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>

	<init-param>
		<param-name>file_upload_tempdir</param-name>
		<param-value>/tomcat/webapps/phenix/uploads</param-value>
	</init-param>

	</servlet>

<!--  CST Servlets (currently invoking from within xsp pages)
	<servlet>
		<servlet-name>data_pipe</servlet-name>
		<servlet-class>com.phenix.qHO.DataPipe</servlet-class>
	</servlet>
	-->

<!-- =============================== SERVLET MAPPING INFORMATION ======================================== -->

	<!-- Concerto Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>concerto</servlet-name>
		<url-pattern>/concertox/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>concerto</servlet-name>
		<url-pattern>*.xsp</url-pattern>
	</servlet-mapping>

	<!-- CST Servlet Mappings (currently invoking from within xsp pages) -->

	 <resource-ref>
    <description>Oracle Development Datasource</description>
    <res-ref-name>jdbc/orcl</res-ref-name>
    <res-type>oracle.jdbc.pool.OracleDataSource</res-type>
    <res-auth>Container</res-auth>
	</resource-ref>
<!-- =============================== MIME MAPPING INFORMATION ======================================== -->

	<mime-mapping>
		<extension>abs</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ai</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aif</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aifc</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aiff</extension>
		<mime-type>audio/x-aiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aim</extension>
		<mime-type>application/x-aim</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>art</extension>
		<mime-type>image/x-jg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>asf</extension>
		<mime-type>video/x-ms-asf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>asx</extension>
		<mime-type>video/x-ms-asf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>au</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>avi</extension>
		<mime-type>video/x-msvideo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>avx</extension>
		<mime-type>video/x-rad-screenplay</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>bcpio</extension>
		<mime-type>application/x-bcpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>bin</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>bmp</extension>
		<mime-type>image/bmp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>body</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cdf</extension>
		<mime-type>application/x-cdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cer</extension>
		<mime-type>application/x-x509-ca-cert</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>class</extension>
		<mime-type>application/java</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>cpio</extension>
		<mime-type>application/x-cpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>csh</extension>
		<mime-type>application/x-csh</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dib</extension>
		<mime-type>image/bmp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dtd</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dv</extension>
		<mime-type>video/x-dv</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dvi</extension>
		<mime-type>application/x-dvi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eps</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>etx</extension>
		<mime-type>text/x-setext</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>exe</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gtar</extension>
		<mime-type>application/x-gtar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gz</extension>
		<mime-type>application/x-gzip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>hdf</extension>
		<mime-type>application/x-hdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>hqx</extension>
		<mime-type>application/mac-binhex40</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>hqx</extension>
		<mime-type>application/mac-binhex40</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ief</extension>
		<mime-type>image/ief</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jad</extension>
		<mime-type>text/vnd.sun.j2me.app-descriptor</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jar</extension>
		<mime-type>application/java-archive</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>java</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpe</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>kar</extension>
		<mime-type>audio/x-midi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>latex</extension>
		<mime-type>application/x-latex</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>m3u</extension>
		<mime-type>audio/x-mpegurl</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mac</extension>
		<mime-type>image/x-macpaint</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>man</extension>
		<mime-type>application/x-troff-man</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>me</extension>
		<mime-type>application/x-troff-me</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mid</extension>
		<mime-type>audio/x-midi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>midi</extension>
		<mime-type>audio/x-midi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mif</extension>
		<mime-type>application/x-mif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mov</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>movie</extension>
		<mime-type>video/x-sgi-movie</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp1</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp2</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp3</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpa</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpe</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpeg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpega</extension>
		<mime-type>audio/x-mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpg</extension>
		<mime-type>video/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpv2</extension>
		<mime-type>video/mpeg2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ms</extension>
		<mime-type>application/x-wais-source</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>nc</extension>
		<mime-type>application/x-netcdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>oda</extension>
		<mime-type>application/oda</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pbm</extension>
		<mime-type>image/x-portable-bitmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pct</extension>
		<mime-type>image/pict</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pgm</extension>
		<mime-type>image/x-portable-graymap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pic</extension>
		<mime-type>image/pict</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pict</extension>
		<mime-type>image/pict</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pls</extension>
		<mime-type>audio/x-scpls</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pnm</extension>
		<mime-type>image/x-portable-anymap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pnt</extension>
		<mime-type>image/x-macpaint</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ppm</extension>
		<mime-type>image/x-portable-pixmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ps</extension>
		<mime-type>application/postscript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>psd</extension>
		<mime-type>image/x-photoshop</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>qt</extension>
		<mime-type>video/quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>qti</extension>
		<mime-type>image/x-quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>qtif</extension>
		<mime-type>image/x-quicktime</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ras</extension>
		<mime-type>image/x-cmu-raster</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rgb</extension>
		<mime-type>image/x-rgb</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rm</extension>
		<mime-type>application/vnd.rn-realmedia</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>roff</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rtf</extension>
		<mime-type>application/rtf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rtx</extension>
		<mime-type>text/richtext</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sh</extension>
		<mime-type>application/x-sh</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>shar</extension>
		<mime-type>application/x-shar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>smf</extension>
		<mime-type>audio/x-midi</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>snd</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>src</extension>
		<mime-type>application/x-wais-source</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sv4cpio</extension>
		<mime-type>application/x-sv4cpio</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>sv4crc</extension>
		<mime-type>application/x-sv4crc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>swf</extension>
		<mime-type>application/x-shockwave-flash</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>t</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tar</extension>
		<mime-type>application/x-tar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tcl</extension>
		<mime-type>application/x-tcl</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tex</extension>
		<mime-type>application/x-tex</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>texi</extension>
		<mime-type>application/x-texinfo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>texinfo</extension>
		<mime-type>application/x-texinfo</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tif</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tiff</extension>
		<mime-type>image/tiff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tr</extension>
		<mime-type>application/x-troff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>tsv</extension>
		<mime-type>text/tab-separated-values</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ulw</extension>
		<mime-type>audio/basic</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ustar</extension>
		<mime-type>application/x-ustar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xbm</extension>
		<mime-type>image/x-xbitmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xpm</extension>
		<mime-type>image/x-xpixmap</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xwd</extension>
		<mime-type>image/x-xwindowdump</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wav</extension>
		<mime-type>audio/x-wav</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wbmp</extension>
		<mime-type>image/vnd.wap.wbmp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wml</extension>
		<mime-type>text/vnd.wap.wml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlc</extension>
		<mime-type>application/vnd.wap.wmlc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmls</extension>
		<mime-type>text/vnd.wap.wmls</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wmlscriptc</extension>
		<mime-type>application/vnd.wap.wmlscriptc</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wrl</extension>
		<mime-type>x-world/x-vrml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>Z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>z</extension>
		<mime-type>application/x-compress</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsp</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.xsp</welcome-file>
	</welcome-file-list>

</web-app>
